<div class ="container">
  <div class = "main">
    <h1>Editing Student</h1>
    <%= render 'form', stud: @stud %>

    <%= link_to 'Show', @stud,class:'btn' %> |
    <%= link_to 'Back', studs_path,class:'btn' %>
  </div>
</div>

